*{
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;



}
body{

    background: url('arquivos-necessarios/imagens/fundo.png') repeat-x;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


#container{

    width: 750px;
    margin: 0 auto;
   
   
   
}
.topo{
    padding-top: 25px;
    height: 150px;
     background: url('arquivos-necessarios/imagens/detalhe-topo.png') no-repeat right top;
   
}
h1{
    text-indent: -3000px;
    background: url('arquivos-necessarios/imagens/logo.png') no-repeat left top;
    width: 152px;
    height: 66px;

}



nav #list-topo{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.377);
    list-style: none;
    float: left;
    margin-top: 30px;
    background-color: #b10333;
}

nav #list-topo li{
    float: left;
   



}

nav #list-topo a{
    
    color: #fff;
    background: url('arquivos-necessarios/imagens/divisor.png') no-repeat left center;
    display: block;
    padding: 0.5em 1.4em;
    text-decoration: none;
    line-height: 2em;
    font-size: 0.9em;
   
    

}

nav #list-topo a:hover{

    color: #69001d



}


#home nav #list-topo .home,
#brasil nav #list-topo .brasil{
    color: #fff;
	background: #de003e;
    cursor: text;
    

}

/*Encerramento Menu navegação*/


#conteudo{

 margin-top: 60px;



}


.primeiro{

    width: 270px;
   
    float: left;
    margin: 0 0 20px 195px;

}


.segundo{
  
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
   

}

.terceiro{
 
    color: #fff;
    width: 180px;
    float: left;
    margin: 0 0 15px -750px;
  
   

    
   

}
#brasil .primeiro{
    width: 555px;
    


}

#list-conteudo li a{
    font-size: 0.9em;
    line-height: 30px;
    display: block;
    padding: 3px;


}



#list-conteudo  li a:hover{
    background: url('arquivos-necessarios/imagens/marcador.png') no-repeat left center;
    padding-left: 20px;
    color: #ccc;
}
h2{    
    
    background-color: #294c71;
    color: #fff;
    padding: 5px;
    font-size: 1em;
}


h3{
    padding: 3px;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 3px;
}
.titulo{

    background: url('arquivos-necessarios/imagens/fundo-caixa.png');
    padding: 5px;
    margin-top: 5px;
}
.form{
    width: 100%;    
    background-color: white;
    margin-top: 5px;
   
}

    


 .terceiro #list-conteudo a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 12px;
    font-size: 0.9em;

}
.caixa-conteudo{
    background-color: white;
    padding: 5px;
    margin-top: 5px;

}
.caixa-conteudo img{

    width: 100%;
  
}

.caixa-conteudo h3{
    background-color: #de003e;
    display: inline-block;
    color: #fff;


}


label{
    color: #000;
    display: block;



}

input{

    width: 80%;
    padding: 5px 3px;
    border: none;
    outline: 1px solid black;
}




input[type="submit"] {

    outline: 1px solid black;
    width: 60%;
    background-color: #de003e;
    color: #fff;

}


.last-ul li{
    cursor: pointer;
    padding: 2px;
    height: 62px;
    border-bottom: 2px solid #ccc;

}
.last-ul li a img{
   
    margin: 5px;
    float: left;
    
    width: 62px;
}
#last-h3{

    background: none;
    color: lightblue;
    font-size: 1.2em;
    padding: 0;
}


#ultimo a{

     text-decoration: none;
     color: #000;
    font-size: 0.7em;
   

}


.last-ul a p{
    padding: 0;
    font-size: 0.9em;


}
    footer{
        background-color: #294c71;
        clear: left;
        padding: 20px;
    }



    
.rodape{

    width: 750px;
    margin: 0 auto;
  



}

.rodape h5{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}